@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .white-svg {
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(68%) saturate(2%)
        hue-rotate(191deg) brightness(112%) contrast(100%);
    }
  }
  .gray-svg {
    img {
      filter: brightness(0) saturate(100%) invert(33%) sepia(32%) saturate(177%)
        hue-rotate(158deg) brightness(95%) contrast(94%);
    }
  }
  .yellow-svg {
    filter: brightness(0) saturate(100%) invert(87%) sepia(53%) saturate(1382%)
      hue-rotate(321deg) brightness(102%) contrast(105%);
  }
  .light-yellow-svg {
    filter: brightness(0) saturate(100%) invert(86%) sepia(35%) saturate(359%)
      hue-rotate(335deg) brightness(106%) contrast(102%);
  }
  .gray-svg {
    filter: brightness(0) saturate(100%) invert(69%) sepia(10%) saturate(184%)
      hue-rotate(161deg) brightness(88%) contrast(81%);
  }
  .light-blue-svg {
    filter: brightness(0) saturate(100%) invert(51%) sepia(100%) saturate(555%)
      hue-rotate(185deg) brightness(103%) contrast(101%);
  }
}
